absl-py
aiohappyeyeballs
aiohttp
aiosignal
asttokens==3.0.0
astunparse==1.6.3
async-timeout
attrs
beautifulsoup4==4.13.3
blinker
brotli
bs4==0.0.2
bsp==1.0.1
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy==1.3.1
cryptography
cycler==0.12.1
decorator==5.1.1
dill
emd-signal
exceptiongroup==1.2.2
executing==2.2.0
filelock==3.17.0
Flask==3.1.0
flatbuffers
fonttools==4.55.8
frozenlist
fsspec==2024.12.0
gast
google-auth
google-auth-oauthlib
google-pasta
google-search-results==2.4.2
grpcio
h5py
idna
imageio==2.37.0
ipython==8.32.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.5
joblib==1.4.2
keras
Keras-Preprocessing
kiwisolver==1.4.8
lazy-loader==0.4
libclang==18.1.1
Markdown
MarkupSafe
matplotlib==3.10.0
matplotlib-inline==0.1.7
mpmath==1.3.0
multidict
multiprocess
networkx==3.4.2
numpy==1.26.4
oauthlib
opencv-python==4.11.0.86
opt-einsum
packaging
pandas==2.2.3
parso==0.8.4
pathos
pillow==11.1.0
pox
ppft
prompt_toolkit==3.0.50
propcache
protobuf==3.19.6
pure_eval==0.2.3
pyasn1
pyasn1-modules==0.2.8
pycparser
pyemd==1.0.0
Pygments==2.19.1
PyJWT
pyOpenSSL
pyparsing==3.2.1
PySocks
python-dateutil==2.9.0.post0
pytz==2025.1
requests
requests-oauthlib
rsa
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
serpapi==0.1.5
six
soupsieve==2.6
stack-data==0.6.3
sympy==1.13.1
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow==2.10.0
tensorflow-estimator
tensorflow-io-gcs-filesystem==0.31.0
termcolor
threadpoolctl==3.5.0
tifffile==2025.2.18
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tqdm
traitlets==5.14.3
typing_extensions
tzdata==2025.1
urllib3
wcwidth==0.2.13
Werkzeug
win-inet-pton
wrapt
yarl
